.container-big {
  margin: auto;
  max-width: 1720px;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
